.~*
.DS_Store
node_modules
vendor

## Docker
logs/*
!logs/.gitkeep
export/*
!export/.gitkeep
data/*
!data/.gitkeep
!data/dump/
data/dump/*
!data/dump/.gitkeep

## PHPUnit
.phpunit.*

## IntelliJ / PHPStorm
.idea